<v-card>
    <v-card-title class="headline">
        <v-layout>
            <v-flex xs10>About</v-flex>
            <v-flex xs2 class="text-right">
                <v-icon @click="$emit('close')">close</v-icon>
            </v-flex>
        </v-layout>
    </v-card-title>

    <v-card-text>
        <p class="text-justify">
            Under the working title of “
            <b>SharedAirDFW</b>” over 100 new custom-built air quality monitors are being distributed throughout the DFW
            region in the next 12 months that will be able to give residents real time information about the air they
            breathe for the first time. When it’s up and running,
            <b>it’ll be the first network of its kind in Texas and one of the largest in the U.S.</b>
            <br />
            <br />Based out of the
            <b>University of Texas at Dallas</b> laboratories and built and calibrated by its graduate and undergraduate
            students, and supported by grants from the NSF, Earth Day Texas, the US Army, Downwinders at Risk, the City
            of Plano, TX, and the US EPA. These monitors will offer real time information every few seconds through a
            <b>easily accessible app.</b> In addition, all data is made available in
            <b>real-time.</b>
            <br />
            <br />Right now a handful of official EPA regulatory grade monitors provide hourly average air quality
            information with a latency of a few hours behind real time conditions.
            <b>SharedAirDFW will increase the number of calibrated air quality monitors in DFW by a factor of about
                forty while giving readings updated every few seconds.</b>
            <br />
            <br />Some of the first monitor deployments will be across the campus of UT Dallas in Joppa (South Dallas),
            West Dallas, and Midlothian, around Paul Quinn College for the Southern Dallas neighborhoods surrounding its
            campus, and across the City of Plano.
        </p>
        <h2>SHAREDAIRDFW - Who Built This? </h2>
        <h3 class="mt-4">Funding</h3>
        <ul>
            <li>Dallas College</li>
            <li>US Army</li>
            <li>National Science Foundation</li>
            <li>City of Plano</li>
            <li>Downwinders at Risk Education Fund</li>
            <li>Environmental Protection Agency</li>
            <li>Earth Day Texas</li>
        </ul>
        <h3 class="mt-4">Design and Deployment Team for Downwinders at Risk</h3>
        <ul>
            <li>Jim Schermbeck</li>
            <li>Robert Mundinger</li>
            <li>Misti O’Quinn</li>
        </ul>
        <h3 class="mt-4">Design and Deployment Team for UTD/Dallas </h3>
        <h4 class="mt-2 ml-4">Sensor Development</h4>
        <ul class="ml-4">
            <li>Lakitha Omal Harindha Wijeratne</li>
            <li>Daniel Rasmi Kiv</li>
            <li>Adam Aker</li>
            <li>Gokul Balagopal</li>
            <li>Matthew Lary</li>
            <li>John Waczak</li>
            <li>David Lary</li>
        </ul>
        <h4 class="mt-2 ml-4">Website Design</h4>
        <ul class="ml-4">
            <li>Xiaohe Yu</li>
            <li>Julia Boah Kim</li>
            <li>Giakhanh Huu Hoang</li>

        </ul>
        <h4 class="mt-2 ml-4">Senior Design Contributors</h4>
        <ul class="ml-4">
            <li>Kameron Noorbakhsh</li>
            <li>Nicholas Steele</li>
            <li>Nikhil Nair</li>
            <li>Jake Schroder</li>
            <li>Benjamin Hogan</li>
            <li>Jacob Scheller</li>
            <li>Jonah Duncan</li>
            <li>Getenet Demsie</li>
            <li>Nathan Nguyen</li>
            <li>Robert Wu</li>
            <li>Keigo Ma</li>
            <li>Bryanth Fung</li>
            <li>Kangzhi Zhao </li>
        </ul>
    </v-card-text>
</v-card>