.side-window {
    position: absolute;
    top: 0px;
    right: 60px;
    z-index: 1000;
    width: 400px;
}


#floating-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 10px;
    max-width: calc(100% - 100px);

    #floating-menu-expander {
        padding: 6px 12px;
        cursor: pointer;
    }

    #floating-menu-content {
        width: 400px;
        padding: 6px 12px;
        max-width: 100%;

        #floating-menu-header {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .buttons button {
            color: blue;
            text-decoration: underline;
            padding-right: 10px;
        }
    }

    &.visible #floating-menu-expander {
        display: none !important;
    }

    &:not(.visible) #floating-menu-content {
        display: none !important;
    }
}

//.side-drawer {
//    position: absolute;
//    top: 0;
//    z-index: 999;
//    background: red;
//    margin: 10px;
//
//    .scale {
//        background-color: #38b5e6;
//        margin-left: -25px;
//        margin-right: -25px;
//        margin-top: 10px;
//
//        img {
//            width: 100%;
//        }
//    }
//
//    .menu-container {
//        //position: absolute;
//        //right: -25px;
//        background: white;
//        cursor: pointer;
//        //padding-left: 5px;
//
//        white-space: nowrap;
//
//        i {
//            color: #38b5e6;
//        }
//    }
//}